<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gemini.toolkit.devops.mapper.TDevopsToolsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.gemini.toolkit.devops.entity.TDevopsToolsEntity">
        <id column="id" property="id" />
        <result column="devops_name" property="devopsName" />
        <result column="deptdesc" property="deptdesc" />
        <result column="template_xml" property="templateXml" />
        <result column="preparation1" property="preparation1" />
        <result column="preparation2" property="preparation2" />
        <result column="preparation3" property="preparation3" />
        <result column="preparation4" property="preparation4" />
        <result column="preparation5" property="preparation5" />
        <result column="preparation6" property="preparation6" />
        <result column="preparation7" property="preparation7" />
        <result column="preparation8" property="preparation8" />
        <result column="preparation9" property="preparation9" />
        <result column="preparation10" property="preparation10" />
        <result column="update_key" property="updateKey" />
        <result column="delete_flg" property="deleteFlg" />
        <result column="create_date_time" property="createDateTime" />
        <result column="create_user_id" property="createUserId" />
        <result column="update_date_time" property="updateDateTime" />
        <result column="update_user_id" property="updateUserId" />
        <result column="uuid" property="uuid" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        devops_name, deptdesc, template_xml, preparation1, preparation2, preparation3, preparation4, preparation5, preparation6, preparation7, preparation8, preparation9, preparation10, update_key, delete_flg, create_date_time, create_user_id, update_date_time, update_user_id, id, uuid
    </sql>


	<select id="getInfoPage" resultType="com.gemini.toolkit.devops.dto.DevopsToolsPageDto">
		select 
			id,devops_name,deptdesc,uuid,create_date_time as createTime
		from t_tk_devops_tools
		WHERE
			delete_flg = '0'
			<if test="templateName != null and templateName != ''">
				and devops_name like concat ('%',#{templateName},'%')
			</if> 
			order by create_date_time desc
	</select>

	<update id= "updateByUpdateKey" parameterType="com.gemini.toolkit.devops.entity.TDevopsToolsEntity">
	
	 update t_tk_devops_tools 
	 set  
	     devops_name = #{devopsName} ,
	     template_xml = #{templateXml},
	     deptdesc = #{deptdesc} ,
	     update_date_time = #{updateDateTime},
	     update_user_id = #{updateUserId},
	     update_key = update_key + 1
	  where id = #{id} and update_key = #{updateKey} and delete_flg = '0'
	 
	</update>
	
	<select id="getAllDevops" resultType="map">
	
		select id as value, devops_name as label from t_tk_devops_tools where delete_flg = '0'
	
	</select>
</mapper>
